/*
*Dieprood: #E32636
Goudaccenten: #FFD700
Zwart: #000000
Crèmewit: #FFF5E1
*
*
*/

header
{
    background-color: #E32636;
    color: #FFF5E1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

nav#primary-nav ul
{
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav#primary-nav ul li a
{
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
    padding: 0 1rem;
    transition: all 300ms ease-in-out;
}

nav#primary-nav ul li a.current-page,
nav#primary-nav ul li a:hover,
nav#primary-nav ul li a:focus
{
    background-color: #FFF5E1;
    color: #E32636;
}

.grid
{
    display: grid;
    gap: 1rem;
}

.grid-2col
{
    grid-template-columns: 1fr 1fr;
}

.grid-big-left
{
    grid-template-columns: 5fr 1fr;
}

.grid-big-right
{
    grid-template-columns: 1fr 5fr;
}

section
{
    margin: 1rem 0;
}

.negative
{
    background-color: #E32636;
    color: #FFF5E1;
}

.negative article
{
    padding: 0.5rem 1.5rem;
}

footer
{
    font-size: 0.8rem;
    /* background-color: #FFD700; */
    color: #000000;
    border-top: 2px solid #E32636;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.center-content
{
    display: flex;
    justify-content: center;
}

textarea
{
    resize: none;
}

form
{
    max-width: 500px;
    margin: inherit auto;
}

.form-group
{
    display: flex;
    flex-direction: column;
}

input[type="submit"]
{
    background-color: #E32636;
    color: #FFF5E1;
    border: 3px solid #FFD700;
    border-radius: 1rem;
    margin: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background-color: #FFD700;
    border-color: #E32636;
    color: #000000;
}

/* 
footer p
{
    text-align: center;
} */